VITE_API_URL=https://api.example.com/api
VITE_DELIVERY_FEE=1500
RIDER_APP_URL=https://www.nutridustfoods.com/rider.html
SUPABASE_RIDER_DOCUMENT_BUCKET=rider-documents
RESEND_API_KEY=
EMAIL_FROM=NutriDust Foods <support@nutridustfoods.com>
EMAIL_REPLY_TO=support@nutridustfoods.com
EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASS=
