.hero{

height:100vh;

background:
linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
url("../assets/hero/hero.png");

background-size:cover;

background-position:center;

color:white;

}

.hero-small{

color:#D4AF37;

font-weight:700;

letter-spacing:3px;

margin-bottom:15px;

}

.hero h1{

font-size:3rem;

font-weight:800;

line-height:1.1;

color:#D4AF37;

margin-bottom:25px;

}

.hero-text{

font-size:1.4rem;

margin-bottom:40px;

color:#ddd;

}

.hero .btn{

padding:15px 40px;

font-size:1.2rem;

font-weight:bold;

border-radius:50px;

}